/var/log/cron
/var/log/dmesg
/var/log/lastlog
/var/log/maillog
/var/log/messages
/var/log/secure
/var/log/spooler
/var/log/audit/audit.log
/var/log/ovirt-guest-agent/ovirt-guest-agent.log
/var/log/mail.info
/var/log/mail.warn
/var/log/mail.err
/var/log/mail.log
/var/log/daemon.log
/var/log/kern.log
/var/log/auth.log
/var/log/user.log
/var/log/lpr.log
{
    size 10M
    rotate 1
    missingok
    sharedscripts
    postrotate
	    /bin/kill -HUP `cat /var/run/syslogd.pid 2> /dev/null` 2> /dev/null || true
    endscript
}
