{% for server in ntp_server_list %}
server {{ server }} iburst
{% endfor %}

allow 127.0.0.1/32
allow ::1/32

keyfile {{ ntp_keyfile }}
driftfile {{ ntp_driftfile }}
makestep 1 3
rtcsync
hwtimestamp *
minsources 1
local stratum 10

logdir {{ ntp_logdir }}
log measurements statistics tracking
